{% extends "base.html" %}
{% block title %}Friends{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Messages</h1><a href="/">go back</a>
    <hr>
    {% for m in messages -%}
        <p><b>User hash</b></p>
        {{ m.hash }}
        <p><b>Message</b></p>
        {{ m.value }}
        <hr>
    {%- endfor %}
     <form id="sendMessage" method="post" onsubmit="return false">
         <p>{{ input_field('message') }}</p>
         <input type="submit" value="enter"/>
    </form>
    <script>
        $('#sendMessage').on("submit", function () {
            let url = {{ url }}
            let message = $('input[name="message"]').val()
            console.log("send message to the friend", user_hash)
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json",
                data: JSON.stringify({"user_hash": user_hash}),
                success: function(data) {
                    console.log(data)
                }
            })
        })
    </script>
{% endblock %}