{% extends "base.html" %}
{% from 'base.html' import input as input_field%}
{% block title %}Friends{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Messages</h1><a href="/">go back</a>
    <hr>
    {% for m in messages -%}
        <p><b>User hash</b></p>
        {{ m.hash }}
        <p><b>Message</b></p>
        {{ m.value }}
        <p><b>Crypted</b></p>
        {{ m.crypted }}
        <hr>
    {%- endfor %}
    <form id="sendMessage" method="post" onsubmit="return false">
        <p>{{ input_field('message') }}</p>
        <p>{{ input_field('crypted', type='checkbox')}}</p>
        <input type="submit" value="enter"/>
    </form>
    <script>
        $('#sendMessage').on("submit", function () {
            let url = {{ url }}
            let message = $('input[name="message"]').val()
            let crypted = $('input[name="crypted"]').is(":checked")
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json",
                data: JSON.stringify({"message": message, "crypted":crypted}),
                success: function(data) {
                    console.log(data)
                }
            })
        })
    </script>
{% endblock %}